
# build stuff
*.o
bin/
build/
build_test/
temp/

# database data folders
data/
test_data/

# perf records
*.data
*.data.old

# sublime temps
*.sublime-workspace

#ctags
.tags
.tags_sorted_by_file

# qtcreator stuff
*.bin
*.user
*.user.*

# bcov dumps
.bcovdump
.report/
